.box {
	@apply shadow-md cursor-pointer h-20 md:h-24 rounded-lg flex flex-col justify-center items-start pl-2;
}

* {
	transition: all 0s linear;
	-webkit-transition: all 0s linear;
	-moz-transition: all 0s linear;
	-ms-transition: all 0s linear;
	-o-transition: all 0s linear;
}
